mat-card {
  margin: 50px 100px;
  background-image: url("~src/assets/ticketImg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: 5px solid #BFBFBF;
  color: white;
  box-shadow: 4px 4px 4px #BFBFBF;

  &:hover {
    transform: scale(1.005);
    transition: 200ms;
  }

}

.icon {
  font-size: 26px;
  margin: 8px 14px 14px 0;
  text-align: right;
}

.content {
  padding-left: 20%;

  &__info {
    width: 60%;
  }

  &__edit-button {
    position: absolute;
    bottom: 20px;
    right: 10px;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    width: 70%;
  }

  &__time-left {
    width: 30%;

    .title {
      margin: 16px 0;
      padding-right: 10px;
      padding-left: 40px;
      width: 80%;
      max-width: 100px;
    }
  }
}

.buttons {
  position: absolute;
  bottom: 20px;
  right: 10px;

  &__discard {
    background-color: #ff3b3b;
    margin-right: 20px;
  }

  &__save {
    background-color: forestgreen;
  }
}

.concert-title {
  font-weight: bold;
  font-size: 20px;
}

.icon-editing {
  font-size: 16px;
}


.state-label {
  padding-right: 10px;
}

.state-select {
  padding: 6px;
}
