 <mat-card>
  <div class="content">
    <div class="content__top-bar">
      <div class="content__title">
        <p>CONCERT NAME</p>
      </div>
      <div class="content__time-left">
        <p class="title">Time left</p>
        <p class="icon">⏳</p>
      </div>
    </div>
    <div class="content__bottom-wrapper">
      <div class="content__info">
        <div class="content__info__field">
          <p class="title text">First name</p>
          <p class="value text">{{ticket.firstName}}</p>
        </div>
        <div class="content__info__field">
          <p class="title text">First name</p>
          <p class="value text">{{ticket.firstName}}</p>
        </div>
        <div class="content__info__field">
          <p class="title text">Last name</p>
          <p class="value text">{{ticket.lastName}}</p>
        </div>
        <div class="content__info__field">
          <p class="title text">Email</p>
          <p class="value text">{{ticket.email}}</p>
        </div>
        <app-ticket-info-field [is-editing]="isEditing" title="Phone Nr." value="{{ticket.phoneNr}}"></app-ticket-info-field>
      </div>
      <div>
        <button mat-button class="content__edit-button" (click)="isEditing = !isEditing">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
