<mat-card>
 <mat-grid-list cols="6" [rowHeight]="40">
    <mat-grid-tile colspan="1" rowspan="6">
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      {{ticket.concertName}}
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
      TIME LEFT
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      ⏳
    </mat-grid-tile>
   <mat-grid-tile colspan="1" rowspan="1">
     FIRSTNAME:
   </mat-grid-tile>
   <mat-grid-tile colspan="2" rowspan="1">
     {{ticket.firstName}}
   </mat-grid-tile>
   <mat-grid-tile colspan="2"></mat-grid-tile>
   <mat-grid-tile colspan="1" rowspan="1">
     LASTNAME:
   </mat-grid-tile>
   <mat-grid-tile colspan="2" rowspan="1">
     {{ticket.lastName}}
   </mat-grid-tile>
   <mat-grid-tile colspan="2"></mat-grid-tile>

   <mat-grid-tile colspan="1" rowspan="1">
      EMAIL:
  </mat-grid-tile>
   <mat-grid-tile colspan="2" rowspan="1">
     {{ticket.email}}
   </mat-grid-tile>
   <mat-grid-tile colspan="2"></mat-grid-tile>
   <mat-grid-tile colspan="1" rowspan="1">
     PHONE NR.:
   </mat-grid-tile>
   <mat-grid-tile colspan="2" rowspan="1">
     {{ticket.phoneNr}}
   </mat-grid-tile>
   <mat-grid-tile colspan="2"></mat-grid-tile>
   <mat-grid-tile colspan="1">
     BONUS
   </mat-grid-tile>
   <mat-grid-tile colspan="1"></mat-grid-tile>
   <mat-grid-tile colspan="2"></mat-grid-tile>
   <mat-grid-tile colspan="1">
     <mat-icon>edit</mat-icon>
   </mat-grid-tile>
 </mat-grid-list>
</mat-card>
