<mat-card>
 <mat-grid-list cols="6" [rowHeight]="40">
    <mat-grid-tile colspan="1" rowspan="6">
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      TITLE HERE
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
      TIME LEFT
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      ⏳
    </mat-grid-tile>
   <mat-grid-tile colspan="1" rowspan="1">
     FIRSTNAME:
   </mat-grid-tile>
   <mat-grid-tile colspan="2" rowspan="1">
     HANS
   </mat-grid-tile>
   <mat-grid-tile colspan="2"></mat-grid-tile>

   <mat-grid-tile colspan="1" rowspan="1">
     LASTNAME:
   </mat-grid-tile>
   <mat-grid-tile colspan="2" rowspan="1">
     MEIER
   </mat-grid-tile>
   <mat-grid-tile colspan="2"></mat-grid-tile>

   <mat-grid-tile colspan="1" rowspan="1">
      EMAIL:
  </mat-grid-tile>
   <mat-grid-tile colspan="2" rowspan="1">
      A@A.COM
   </mat-grid-tile>
   <mat-grid-tile colspan="2"></mat-grid-tile>
   <mat-grid-tile colspan="1" rowspan="1">
     PHONE NR.:
   </mat-grid-tile>
   <mat-grid-tile colspan="2" rowspan="1">
     2935029385
   </mat-grid-tile>
   <mat-grid-tile colspan="2"></mat-grid-tile>
   <mat-grid-tile colspan="1">
     BONUS
   </mat-grid-tile>
   <mat-grid-tile colspan="1">
     PRICE
   </mat-grid-tile>
   <mat-grid-tile colspan="1"></mat-grid-tile>
   <mat-grid-tile colspan="1">
     DATE
   </mat-grid-tile>
   <mat-grid-tile colspan="1">
     <mat-icon>edit</mat-icon>
   </mat-grid-tile>
 </mat-grid-list>
</mat-card>
