.formular-form {
  zoom: 150%;
  display: flex;
  justify-content: space-around;
}
h1 {
  text-align: center;
}
.button {
  zoom: 150%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.buttonCancel {
  margin-right: 10px;
}
