<h1>New Ticket</h1>
<form class="formular-form">
  <div class="form-wrapper">
    <mat-label>Firstname</mat-label>
    <br>
    <input matInput placeholder="Max">
    <br>
    <mat-label>Lastname</mat-label>
    <br>
    <input matInput placeholder="Mustermann">
    <br>
    <mat-label>EMail</mat-label>
    <br>
    <input matInput placeholder="test@gmail.com">
    <br>
    <mat-label>Phone Nr.</mat-label>
    <br>
    <input matInput placeholder="0793333333">
    <br>
    <mat-label>Concert</mat-label>
    <br>
    <input matInput placeholder="allConcerts">
  </div>
</form>

<div class="button">
  <button mat-raised-button class="buttonCancel">Cancel</button>
  <button mat-raised-button>Save</button>
</div>
