<mat-stepper>
  <mat-step>
    <ng-template matStepLabel> Create Ticket</ng-template>
    <h1 style="text-align: center">Create Ticket</h1>
    <div class="form-wrapper">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput required [(ngModel)]="firstName">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput required [(ngModel)]="lastName">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput required [(ngModel)]="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </p>
      <!-- TODO: PhoneNr is required (fix!!) else throws error...? -->
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone Nr.</mat-label>
          <input matInput required [(ngModel)]="phoneNr">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label [(ngModel)]="concertName">Concert</mat-label>
          <mat-select required>
            <mat-option value="concert1">Concert 1</mat-option>
            <mat-option value="concert2">Concert 2</mat-option>
            <mat-option value="concert3">Concert 3</mat-option>
            <mat-option value="concert4">Concert 4</mat-option>
            <mat-option value="concert5">Concert 5</mat-option>
            <mat-option value="concert6">Concert 6</mat-option>
            <mat-option value="concert7">Concert 7</mat-option>
          </mat-select>
          <mat-icon matSuffix>festival</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Bonus</mat-label>
          <mat-select [(ngModel)]="bonus" required>
            <mat-option value="0">0</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="15">15</mat-option>
          </mat-select>
          <mat-icon matSuffix>percent</mat-icon>
        </mat-form-field>
      </p>
    </div>

    <!-- TODO: Validation before matStepperNext (https://material.angular.io/components/stepper/overview) -->

    <div class="buttons">
      <button mat-raised-button style="background-color: #ff3b3b; margin-right: 20px; width: 40%" [routerLink]="'/'">
        Cancel
      </button>
      <button mat-raised-button style="background-color: forestgreen; width: 40%" matStepperNext>Save</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Ticket Preview</ng-template>
    <h1 style="text-align: center">Ticket Preview</h1>
    <div class="ticket-wrapper">
      <app-ticket *ngFor="let ticket of ticketDraft" [ticket]="ticket" class="ticket">
      </app-ticket>
    </div>
    <!-- TODO: push to db on button click plus ticket text not showing -->
    <div class="buttons">
      <button mat-raised-button style="background-color: #ff3b3b; margin-right: 20px; width: 40%" matStepperPrevious>
        Edit
      </button>
      <button mat-raised-button style="background-color: forestgreen; width: 40%" [routerLink]="'/'">Create Ticket
      </button>
    </div>
  </mat-step>
</mat-stepper>
