.addButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #bfbfbf;
}
mat-icon {
  color: #212121;
}

.no-tickets-wrapper {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.create-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.title-wrapper {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
